<h2> Index page </h2>

<%= link_to "Add new product", new_product_path %>
<br>


  <% @products.each do |product| %>
    <br>
    <section class="product">
      <p> Name: <%= product.name %> </p>
      <p> Description: <%= product.description %> </p>
      <p> Price: <%= product.price_in_cents %>   Space Dollars</p>
      <p> <%= link_to 'View', product_path(product) %> </p>

    </section>

  <% end %>
